# eclipse files
.recommenders/
.metadata/
RemoteSystemsTempFiles/

# java files
target/
.settings/
.classpath
.project


# IntelliJ
*.iml
modules.xml
.idea/misc.xml
*.ipr
.idea

# runtime files
application.log
data/
